.main-splash {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(http://res.cloudinary.com/dkympkwdz/image/upload/v1488595259/background_somxub.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.social-links {
  padding: 10px;
}

.linked-in {
  padding-bottom: 30px;
}
