.main-splash {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: -moz-linear-gradient(left, rgba(0,0,0,0.8) 32%, rgba(0,0,0,0) 100%), url(http://res.cloudinary.com/dkympkwdz/image/upload/v1488687048/splash-bg_javq9s.jpg) no-repeat center center fixed; /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 32%,rgba(0,0,0,0) 100%), url(http://res.cloudinary.com/dkympkwdz/image/upload/v1488687048/splash-bg_javq9s.jpg) no-repeat center center fixed; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,0.8) 32%,rgba(0,0,0,0) 100%), url(http://res.cloudinary.com/dkympkwdz/image/upload/v1488687048/splash-bg_javq9s.jpg) no-repeat center center fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=1 ), url(http://res.cloudinary.com/dkympkwdz/image/upload/v1488687048/splash-bg_javq9s.jpg) no-repeat center center fixed; /* IE6-9 */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.social-links {
  padding: 10px;
}

.linked-in {
  padding-bottom: 30px;
}

.splash-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}

.logo {
  top: 15px;
  left: 25px;
  width: 200px;
  position: absolute;
}

.nav-login {
  background-color: red;
  position: absolute;
  right: 20px;
  top: 15px;
}

.splash-grabber {
  color: white;
  position: relative;
  top: 100px;
  padding: 40px;
  padding-bottom: 20px;
  font-weight: 600;
}

.font-fifty {
  font-size: 50px;
  padding-bottom: 20px;
}

.font-twenty {
  font-size: 20px;
  padding-bottom: 20px;
}
