.main-splash {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(http://res.cloudinary.com/dkympkwdz/image/upload/v1488673279/login-the-crown_2-1500x1000_naas9z.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.social-links {
  padding: 10px;
}

.linked-in {
  padding-bottom: 30px;
}

.splash-nav {
  height: 90px;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  top: 15px;
  left: 25px;
  width: 200px;
  position: absolute;
}

.nav-login {
  background-color: "red";
  position: absolute;
  right: 20px;
  top: 15px;
}
