.login-form {
  padding-top: 20px;
  background-color: #f3f3f3;
  padding: 40px;
  width: 380px;
  height: 402px;
  margin: auto;
  margin-bottom: 10px;
  position: relative;
}

.session-form-header {
  font-size: 35px;
}

.entrance flex {

}
